<mat-card appearance="outlined" class="mat-whiteframe-2dp card">
    <mat-card-content>
        <mat-card-title class="center">Hero : {{hero.name}}</mat-card-title>
        <mat-card-subtitle class="center">Nemesis : {{hero.nemesis}}</mat-card-subtitle>
        <mat-card-subtitle class="center">Release Date : {{hero.parution | date:'MMM yyyy'}}</mat-card-subtitle>

        <mat-card-actions class="center">
            <button mat-button (click)="edit(hero.id)">Edit</button>
            <button mat-button (click)="delete(hero.id)">Delete</button>
        </mat-card-actions>

        <mat-card-footer class="center">
            <mat-card-subtitle>&copy;HS</mat-card-subtitle>
        </mat-card-footer>

    </mat-card-content>

</mat-card>