.card {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--logo-blue);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.card:hover {
    border-color: var(--logo-dark-blue);
    border-width: 4px;
    transform: scale(1.05);
    transition: .3s;
}

button {
    background-color: var(--logo-blue);
    color: var(--logo-white);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
}

button:hover {
    color: var(--logo-pink);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}